[submodule "AA/TP1"]
	path = AA/TP1
	url = https://github.com/RuiFerreira05/AA-TP1
[submodule "PIV/TP1"]
	path = PIV/TP1
	url = https://github.com/RuiFerreira05/PIV-TP1
[submodule "PIV/TP2"]
	path = PIV/TP2
	url = https://github.com/RuiFerreira05/PIV-TP2
[submodule "AA/TP2"]
	path = AA/TP2
	url = https://github.com/RuiFerreira05/AA-TP2
[submodule "SBD/TP2"]
	path = SBD/TP2
	url = https://github.com/RuiFerreira05/SBD-TP2.git
