/* macOS Dark theme overrides */
#chat-history-viewer Label.chat-history-item-current-label {
color: #ffffff;
}
#chat-history-viewer Label.chat-history-item-date-label {
color: #808080;
}

#chat-history-viewer Composite.chat-history-item-current,
#chat-history-viewer Composite.chat-history-item-current * {
color: #ffffff;
background-color: #4076e8;
}
